<h2>Artist No. <%=@artist.id%></h2>
<ul>
    <li>Name: <%= @artist.name %></li>
    <li>Age: <%= @artist.age %></li>
    <li>Bio: <%= @artist.bio %></li>
</ul>

<a href="/artists/<%=@artist.id%>/edit"> Edit this artist </a>

<form method="POST" action="/artists/<%= @artist.id %>">
    <input name="_method" type="hidden" value="DELETE">
    <input type="submit" value="DELETE">
    </form>
